# IDE Files
.idea/
*.iml

# Miscellaneous
.DS_Store
*.class
*.log
*.jar
*.war
*.ear
*.o
*.so
*.swp
*.swo
*.tmp
*.temp

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# Gradle files
.gradle/
build/
out/
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties
/app/src/main/*.sh
/app/src/main/*.txt
