<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace"> <!-- Устанавливаем уровень TRACE, чтобы видеть все логи -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>